:root {
    --main-bg-color: #f9f9f9;
    --color-one: #e8edf3;
    --color-two: #4fdaff;

}

body {
    background: var(--main-bg-color);
    font-family: 'Slabo 27px', serif;
    padding: 0 100px;
    position: relative;
    z-index: 1;
    margin: 0;
}

#title {
    text-align: center;
    font-size: 55px;
    color: #145a61;
    padding-top: 40px;
    font-weight: bolder;
}

.search-container {
    display: flex;
    justify-content: center;

}

#textbox {
    margin: 30px 0 30px 0;
    padding: 10px;
    background: var(--color-two);
    border: 0;
    width: 505px;
    height: 15px;
    border-radius: 4px;
    font-size: 16px;

}

.grids-container {
    display: grid;
    grid-template-columns: 31% 31% 31%;
    justify-content: space-between;
    padding: 0 40px;
    height: 700px;

}

.grid {
    grid-auto-columns: auto;

}

.jokeclass {
    word-wrap: break-word;
    background: var(--color-one);
    padding: 20px;
    padding-bottom: 30px;
    border-top: var(--color-two) solid 8px;
    color: black;
    border-radius: 0 26px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.34), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
}

.select-button {
    height: 20px;
    width: 20px;
    opacity: 0.5;
    right: 7px;
    bottom: 7px;
    position: absolute;

}

.select-button:hover {
    opacity: 1;
    height: 21px;
    width: 21px;
}

.styleSelectButton {
    opacity: 1;
    height: 24px;
    width: 24px;
}

#favorites {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.favorites-container {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
}

.favoritesNav {
    z-index: 5;
    background: var(--color-one);
    padding: 10px;
    width: 50%;
    border-radius: 4px;
}

.modal-background {
    grid-area: modal-background;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

}

.hidden-favorites {
    display: none;
}

.favoritesNav li {
    list-style-type: none;
    color: black;
}


/*MEDIA QUERIES*/

/*tablets*/
@media screen and (max-width: 700px) {

}

/*mobiles*/
@media screen and (max-width: 480px) {

    body {
        padding: 0 50px;
    }
    #favorites {
        position: absolute;
        top: 19px;
        left: 18px;
        width: 27px;
        height: 29px;
    }

    #title {
        font-size: 34px;
    }

    .grids-container {
        display: grid;
        grid-template-columns: 100%;
        padding:0;
    }

    .jokeclass {
        font-size: 18px;
        padding: 20px;
    }

}